/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../components/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, ../components/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ../components/sass/_reset.scss */
body {
  line-height: 1; }

/* line 34, ../components/sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, ../components/sass/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, ../components/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, ../components/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 52, ../components/sass/main.scss */
body {
  background: #eddbba;
  font-family: "Inika", serif;
  font-size: 1.1em; }

/* line 58, ../components/sass/main.scss */
#content {
  color: #CC8E94;
  font-size: 2em; }

/* line 63, ../components/sass/main.scss */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

/* line 70, ../components/sass/main.scss */
.city {
  background: url("../images/backgrounds/seattle_skyline.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  @media (min-width: 801px) {
    /* line 70, ../components/sass/main.scss */
    .city {
      height: 350px; } }
  @media (max-width: 800px) {
    /* line 70, ../components/sass/main.scss */
    .city {
      height: 150px; } }
  @media (max-width: 300px) {
    /* line 70, ../components/sass/main.scss */
    .city {
      height: 100px; } }
  /* line 72, ../components/sass/main.scss */
  .city img.logo {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    max-width: 450px;
    min-width: 250px; }

/* line 82, ../components/sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", sans-serif; }

/* line 86, ../components/sass/main.scss */
h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: #507356; }

/* line 92, ../components/sass/main.scss */
p {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #514e38;
  margin-bottom: 20px; }

/* line 99, ../components/sass/main.scss */
section {
  padding: 20px 0; }

/* line 104, ../components/sass/main.scss */
.main h1 {
  color: #507356;
  font-size: 3.5em; }
  @media (max-width: 700px) {
    /* line 104, ../components/sass/main.scss */
    .main h1 {
      font-size: 2.2em; } }
/* line 112, ../components/sass/main.scss */
.main p {
  color: #3E2B3D;
  margin-top: 15px; }

/* line 118, ../components/sass/main.scss */
.artists {
  background: #8D8862;
  border-top: 20px solid #E3C691;
  border-bottom: 50px solid #507356; }
  /* line 4, ../components/sass/main.scss */
  .artists:after {
    content: "";
    display: table;
    clear: both; }
  /* line 125, ../components/sass/main.scss */
  .artists h1 {
    font-size: 3em;
    color: #263729; }
    @media (max-width: 700px) {
      /* line 125, ../components/sass/main.scss */
      .artists h1 {
        font-size: 2em; } }
  /* line 133, ../components/sass/main.scss */
  .artists h2 {
    font-size: 1.2em;
    color: #eddbba; }
    @media (max-width: 700px) {
      /* line 133, ../components/sass/main.scss */
      .artists h2 {
        display: none; } }
  /* line 141, ../components/sass/main.scss */
  .artists p {
    color: #314634; }
  /* line 144, ../components/sass/main.scss */
  .artists .artistlist {
    padding-bottom: 20px; }
    /* line 4, ../components/sass/main.scss */
    .artists .artistlist:after {
      content: "";
      display: table;
      clear: both; }
    /* line 149, ../components/sass/main.scss */
    .artists .artistlist .item {
      min-width: 95px;
      color: #6f6b4d;
      width: 18%;
      float: left;
      padding: 1%;
      text-align: center; }
      /* line 157, ../components/sass/main.scss */
      .artists .artistlist .item img {
        max-width: 130px;
        margin: 0 auto;
        display: block;
        border-radius: 50%;
        width: 100%;
        padding: 5%; }

/* line 172, ../components/sass/main.scss */
.venue {
  position: relative;
  background: url("../images/backgrounds/woodworking_workshop.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: 50px solid #8D8862; }
  /* line 174, ../components/sass/main.scss */
  .venue h1 {
    position: absolute;
    bottom: 10px;
    right: 5%;
    color: #E3C691;
    text-align: right;
    font-size: 3em; }
  @media (min-width: 801px) {
    /* line 172, ../components/sass/main.scss */
    .venue {
      height: 350px; } }
  @media (max-width: 800px) {
    /* line 172, ../components/sass/main.scss */
    .venue {
      height: 150px; } }
  @media (max-width: 300px) {
    /* line 172, ../components/sass/main.scss */
    .venue {
      height: 100px; } }
  /* line 4, ../components/sass/main.scss */
  .venue:after {
    content: "";
    display: table;
    clear: both; }

/* line 188, ../components/sass/main.scss */
.workshops {
  position: relative;
  border-bottom: 40px solid #3E2B3D;
  border-top: 40px solid #B08B7B;
  background: url("../images/backgrounds/pottery_workshop.jpg") no-repeat 50% 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  /* line 190, ../components/sass/main.scss */
  .workshops h1 {
    position: absolute;
    bottom: 10px;
    right: 10%; }
  @media (min-width: 801px) {
    /* line 188, ../components/sass/main.scss */
    .workshops {
      height: 350px; } }
  @media (max-width: 800px) {
    /* line 188, ../components/sass/main.scss */
    .workshops {
      height: 150px; } }
  @media (max-width: 300px) {
    /* line 188, ../components/sass/main.scss */
    .workshops {
      height: 100px; } }
  /* line 4, ../components/sass/main.scss */
  .workshops:after {
    content: "";
    display: table;
    clear: both; }

/*# sourceMappingURL=main.css.map */
